#filter {
  margin-left: 5rem;
}

#name {
    text-align: center;
}

#select {
  width: 10rem;
  height: 3rem;
  padding: 0.5rem;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  text-align: center;
}

#select:hover {
  border-color: #888;
}

#select:focus {
  border-color: #555;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.1);
}